body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #222;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: left;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.dark-mode .card {
    background: #333;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
    color: white;
}

img {
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}
